<html>
    <head>
        <title></title>
        <link rel="stylesheet.css" name="styles"/>
        <style>
            .error{
                color:red;
            }
        </style>
    </head>
<body>
<h1>Signup</h1>
    <form action="/validate" method="POST">
        <table>
            <tbody>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                        <input name="username" value="{{username}}" type="text">
                        {% if " " in username %}
                        <span class="error">No spaces allowed</span>                                                
                        {% elif username|length < 3 %}
                        <span class="error">That's not a valid username</span>                        
                        {% elif username|length > 20 %}
                        <span class="error">Your username should be between 3-20 charaters</span>
                        {% endif %}
                    </td>
                </tr>
                <tr> 
                    <td><label for="password">Password</label></td>
                    <td>
                        <input name="password" type="password">
                        {% if " " in password %}
                        <span class="error">No spaces allowed</span>                        
                        {% elif password|length < 3 %}
                        <span class="error">That's not a valid password</span>
                        {% elif password|length > 20 %}
                        <span class="error">Your password should be between 3-20 charaters</span>                        
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="verify">Verify Password</label></td>
                    <td>
                        <input name="verify" type="password"> 
                        {% if verify != password %}
                        <span class="error">Passwords don't match</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td>
                        <input name="email" value="">
                        {% if " " in email %}
                        <span class="error">No spaces allowed</span>
                        {% elif email|length < 3 %}
                        <span class="error">That's not a valid email</span>
                        {% elif email|length > 20 %}
                        <span class="error">That's not a valid email</span>

                        {% endif %}

                    </td>
                </tr>
            </tbody></table>
            <input type="submit">
    </form>
</body>
</html>
